/* common shared style and fonts */

   *{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;


}
/* header related stles */
.header{
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    width:  1950px;
    padding: 0px;
    display: flex;   
  
    
}
/* banner related style*/
.banner{
    display: flex;
    align-items: center;
   
  
    padding: 90px 240px 0px 240px;
}

.banner-content{
    padding: 40px 100px 150px 10px;
}


.banner .introimage{

    width: 600px;
}




.intro{
color: #272727;
font-size: 80px;
font-weight: 800;
width: 750px;
height: 250px;

}

.intropara{
width: 634px;
height: 90px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;


}

.btn{

    height: 65px;
    width: 180px;
    padding: 20px 45px;
    border-radius: 15px;
    font-size: ;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none; 

}
    
/*main section style*/
.main{
    background-color: #FFFFFF;
    width: 1950px;
    height: 4900px;
    margin-top: 180px;
}

.image{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
}
#i1{
    
background: rgba(167, 33, 98, 0.15);
}
#i2{

background: rgba(5, 151, 160, 0.15);
}

#i3{
    
background: rgba(71, 125, 17, 0.15);
}

.featured-flower h3{
    color: #272727;
   text-align: center;

font-size: 40px;

font-weight: 800;
}
